<!doctype html>
<html lang="en">
  <% include head %>

  <body>
    <% include cabecalho %>

    <main>
      <h1><%= titulo %></h1>
      <p>
        <%= conteudo %>
      </p>
    </main>

    <script src="/js/main.js"></script>
  </body>
</html>
